<% include header.ejs %>
<% include nav.ejs %>



<h1><%= heading %></h1>
<hr />


<div id="outerContainer">


	<div id="innerContainerLeft">
		<table>
			<tr>
				<td>
					<form method="post">
						<input type='hidden' name='formName' value='showGardenTimes'/>
						<input class="innerContainerLeftButtons" type="submit" name="submit" value="Set On/Off Time"/>
					</form>
				</td>
			</tr>
		</table>
	</div>

	<div id="innerContainerRight">

		<%if (gardensData !== '') {%>
		<form method="post">
			<table id="data">
				<tr>
					<td><h2>Garden Name</h2></td>
					<td><h2>On Time</h2></td>
					<td><h2>Off Time</h2></td>
					<td><h2>Garden Status</h2></td>
					<td><h2>Sensor Triggered</h2></td>
				</tr>
				<%gardensData.forEach(function(gardenData) { %>
				<tr>
					<td><label><%= gardenData.gardenName %> </label></td>
					<td><input type='time' name='<%= gardenData.pref_name %>On' value='<%= gardenData.pref_startTime %>' /> </td>
					<td><input type='time' name='<%= gardenData.pref_name %>Off' value='<%= gardenData.pref_stopTime %>' /></td>
					<td><label>
							<% if (!gardenData.pref_isActive) {%>
							Off
							<% } else { %>
							On
							<%}%>
						</label></td>
					<td><label>
							<% if (!gardenData.pref_sensorTriggered) {%>
							No
							<% } else { %>
							Yes
							<%}%>
						</label></td>
				</tr>
				<% }); %>
				<tr></tr>
				<tr>
					<td></td>
					<td colspan="2"><input id='setGardenTimes' name='submitBttn' value='Set Garden Times' type='submit' /></td>
				</tr>
			</table>
		</form>
		<%}%>


	</div>


</div>

<% include footer.ejs %>
