<% include header.ejs %>
<% include nav.ejs %>



<h1><%= heading %></h1>
<hr />


<div id="outerContainer">


    <div id="innerContainerLeft">
        <table>
            <tr>
                <td>
                    <form method="post">
                        <input type='hidden' name='formName' value='showLightTimes'/>
                        <input class="innerContainerLeftButtons" type="submit" name="submit" value="Set On/Off Time"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div id="innerContainerRight">

        <%if (lightsData !== '') {%>
            <form method="post">
                <table id="data">
                    <tr>
                        <td><h2>Light Name</h2></td>
                        <td><h2>On Time</h2></td>
                        <td><h2>Off Time</h2></td>
                        <td><h2>Light Status</h2></td>
                        <td><h2>Sensor Triggered</h2></td>
                    </tr>
                    <%lightsData.forEach(function(lightData) { %>
                    <tr>
                        <td><label><%= lightData.lightName %> </label></td>
                        <td><input type='time' name='<%= lightData.lightName %>On' value='<%= lightData.startTime %>' /> </td>
                        <td><input type='time' name='<%= lightData.lightName %>Off' value='<%= lightData.stopTime %>' /></td>
                        <td><label>
                                <% if (!lightData.isActive) {%>
                                    Off
                                <% } else { %>
                                    On
                                <%}%>
                            </label></td>
                        <td><label>
                                <% if (!lightData.sensorActivated) {%>
                                No
                                <% } else { %>
                                Yes
                                <%}%>
                            </label></td>
                    </tr>
                    <% }); %>
                    <tr></tr>
                    <tr>
                        <td></td>
                        <td colspan="2"><input id='setLightTimes' name='submitBttn' value='Set Times' type='submit' /></td>
                    </tr>
                </table>
            </form>
        <%}%>


    </div>


</div>

<% include footer.ejs %>
