<div id="container">

    <div id="dropDownMenu" onclick="expandMenu()">
        <p></p>
        <nav>

            <div id="menu">

                <ul>

                    <% navMenu.forEach(function(nav) { %>
                    <li><a href="<%= nav.navButton %>" name="<%= nav.buttonName %>" <% if (title === nav.buttonName) {%>style="<%= currentPage %>"> <%} else {%>><%}%> <%= nav.buttonName %></a></li>
                    <% }); %>
                </ul>

            </div>
        </nav>
    </div>

</div>

<!--  FOLLOWING CODE DISPLAYS MESSAGE IF ANY PASSED BY SERVER  -->
<p id='msg'><%= msg %></p>

<!--  FOLLOWING CODE DISPLAYS USERNAME AND LOGOUT BUTTON IF USER LOGGED IN  -->
<p id='user'><%= userMsg %><% if (isLoggedIn === true){ %><a href='/logout'>LOG OUT</a><%}%></p>