<% include header.ejs %>
<% include nav.ejs %>



<h1>Garden Page</h1>
<hr />


<div id="outerContainer">


	<div id="innerContainerLeft">
		<table>
			<tr>
				<td>
					<form method="post">
						<input type='hidden' name='formName' value='showGardenTimes'/>
						<input class="innerContainerLeftButtons" type="submit" name="submit" value="Set On/Off Time"/>
					</form>
				</td>
			</tr>
		</table>
	</div>

	<div id="innerContainerRight">

		<%if (gardenData !== '') {%>
		<form method="post">
			<table>
				<tr>
					<td><h2>Light Name</h2></td>
					<td><h2>On Time</h2></td>
					<td><h2>Off Time</h2></td>
					<td><h2>Light Status</h2></td>
				</tr>
				<%gardenData.forEach(function(gardensData) { %>
				<tr>
					<td><label><%= gardenData.gardenName %> </label></td>
					<td><input type='time' name='<%= gardensData.gardenName %>On' value='<%= gardensData.startTime %>' /> </td>
					<td><input type='time' name='<%= gardensData.gardenName %>Off' value='<%= gardensData.stopTime %>' /></td>
					<td><label>
							<% if (!gardenData.isActive) {%>
							Off
							<% } else { %>
							On
							<%}%>
						</label></td>
				</tr>
				<% }); %>
				<tr>
					<td></td>
					<td colspan="2"><input id='setGardenTimes' name='submitBttn' value='Set Times' type='submit' /></td>
				</tr>
			</table>
		</form>
		<%}%>


	</div>


</div>

<% include footer.ejs %>
