<div class="container">

    <div class="dropDownHeader" onclick="menuExpand()">Drop down for a fully sick navbar
        <nav>
            <div id="menu">

                <ul>

                    <% navMenu.forEach(function(nav) { %>
                    <li><a href="<%= nav.navButton %>" name="<%= nav.buttonName %>" <% if (title === nav.buttonName) {%>style="<%= currentPage %>"> <%} else {%>><%}%> <%= nav.buttonName %></a></li>
                    <% }); %>

                </ul>



            </div>
        </nav>
    </div>

</div>

<p id='msg'><%= msg %></p>

<p id='user'>
	<%= user %>
	<% if (isLoggedIn === true){ %>
		<a href='/logout'>LOG OUT</a>
	<%}%>
</p>